.image-gallery {
    --gap: 20px;
    --cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 960px) {
    .image-gallery {
        --cols: 2;
        padding: 20px 40px;
    }
}

@media (max-width: 750px) {
    .image-gallery {
        --cols: 1;
    }
}

/* These classes can be added to images to create a masonry-style layout */
@media (min-width: 750px) {
    .image-gallery > img:nth-child(1) {
        grid-column: span 2;
    } 
    
    .image-gallery > img:nth-child(3) {
        grid-row: span 2;
    } 

    .image-gallery > img:nth-child(7) {
        grid-column: span 2;
        grid-row: span 2;
    }
}
