.showcase-carousel {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 37%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-bottom: 40px;
}

.showcase-link {
    display: grid;
    margin: 0 5px;
}

.showcase-link > h3 {
    color: var(--main);
}

.showcase-link > img {
    inline-size: 100%;
    margin-bottom: 10px;
}

.inline-snap {
    scroll-snap-type: inline mandatory;
}

.inline-snap > * {
    scroll-snap-align: start;
}

@media (max-width: 960px) {
    .showcase-carousel {
        grid-auto-columns: 62%;
    }
}