<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/bundle.css">
    <script src="assets/js/nav.js" defer></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {% set navPages = collections.all | eleventyNavigation %} <!-- Collects navlinks for use by the navbar and footer -->
    {% include "components/navbar/navbar-spaced.html" %} <!-- Can be swapped out for alternate navbar -->
    <main>
        {% if permalink == 'index.html' %}
            {% include "components/header/header-main.html" %}
        {% endif %}
        <div class="content-container">
            {% block content %}
              {{ content | safe }}
            {% endblock %}
        </div>
        {% include "components/footer/footer.html" %}
    </main>
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", (user) => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
</body>
</html>