---
title: 'Recent Blog Articles'
description: 'Vitae qui eligendi ea, possimus enim eum voluptatibus laboriosam quia, totam sed quibusdam esse temporibus accusamus et natus expedita dolorem, ipsum magnam.'
permalink: 'blog.html'
eleventyNavigation:
    key: Blog
    order: 400
---

{% extends "layouts/base.html" %}

{% block content %}
    {% import 'components/page-header/page-header.html' as macro %}
    {{ macro.pageHeader(title, description) }}
    
    <ul class="blog-post-list">
        {% for post in collections.post | reverse %}
            <li class="blog-post-card">
                <img class="blog-post-card-img" src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                <h2>{{ post.data.title }}</h2>
                <p>{{ post.data.description }}</p>
                <h4>{{ post.data.date | postDate }} - {{ post.data.author }}</h4>
                <a class="blog-post-card-button" href="{{ post.url }}"><button>Read More</button></a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}