---
title: 'Recent Blog Articles'
description: 'Vitae qui eligendi ea, possimus enim eum voluptatibus laboriosam quia, totam sed quibusdam esse temporibus accusamus et natus expedita dolorem, ipsum magnam.'
permalink: blog.html
eleventyNavigation:
    key: Blog
    order: 400
---

{% extends "layouts/base.html" %}

{% block content %}
    {% import 'components/page-header/page-header.html' as macro %}
    {{ macro.pageHeader(title, description) }}
    
    <ul>
        {% for post in collections.post | reverse %}
        <a style="color:black;" href="{{ post.url }}">
            <li>
                <h4>{{ post.data.date | postDate }}</h4>
                <h1>{{ post.data.title }}</h1>
                <h4>by {{ post.data.author }}</h4>
                <img src="{{ post.data.image }}" alt="">
            </li>
        </a>
        {% endfor %}
    </ul>

{% endblock %}