---
title: 'Contact'
description: 'Vitae qui eligendi ea, possimus enim eum voluptatibus laboriosam quia, totam sed quibusdam esse temporibus accusamus et natus expedita dolorem, ipsum magnam.'
permalink: contact.html
eleventyNavigation:
    key: Contact
    order: 500
---

{% extends "layouts/base.html" %}

{% block content %}
    {% import 'components/page-header/page-header.html' as macro %}
    {{ macro.pageHeader(title, description) }}
    <div class="contact-container">
        <section class="contact-info">
            <h2>Contact Information</h2>
            <div class="contact-info-inner">
                <p>{{ siteInfo.address.lineOne }}</p>
                <p>{{ siteInfo.address.lineTwo }}</p>
                <p>{{ siteInfo.address.city }}</p>
                <p>{{ siteInfo.address.postcode }}</p>
                <p>{{ siteInfo.email }}</p>
            </div>
        </section>
        <section class="contact-form">
            <h2 class="contact-title">Contact Us</h2>
            <form action="" method="POST">
                <label for="name"></label>
                <input class="contact-form-fields" type="text" id="name" name="user_name" placeholder="Your name...">
                    
                <label for="mail"></label>
                <input class="contact-form-fields" type="email" id="mail" name="user_email" placeholder="Your email...">
                    
                <label for="message"></label>
                <textarea class="contact-form-fields" name="user_message" id="message" rows="10" cols="30" placeholder="Message..."></textarea>
                    
                <button class="contact-form-button" type="submit">Submit</button>  
            </form>
        </section>
    </div>
{% endblock %}