.nav-spaced {
    justify-content: space-between;
}

.nav-items-left {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.nav-items-right {
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    width: 25%;
}

#nav-site-name {
    color: var(--text-light);
    margin: 0 0 0 5px;
    letter-spacing: 1px;
    font-weight: 400;
}

@media (max-width: 1100px) {
    .nav-items-left {
        margin-left: 50px;
    }

    .nav-items-right {
        margin-right: 50px;
    }
}