.nav-centred {
    justify-content: center;
}

.nav-items-centred {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    width: 40%;
}

#nav-logo-img {
    position: absolute;
}

@media (min-width: 750px) {
    .nav-items-centred > li:nth-child(2) {
        margin-right: 50px;
    }
    
    .nav-items-centred > li:nth-child(3) {
        margin-left: 50px;
    }
}