.header {
    width: 100%;
    height: 106vh;
    background: center/cover no-repeat url("assets/img/peter-james-eisenhaure-PbWJY0M5hRM-unsplash.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-centered-container {
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-split-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-right {
    background-color: aqua;
    height: 500px;
    width: 500px;
}

#header-main, #header-text {
    color: var(--text-light);
    text-align: center;
}

#header-main {
    font-size: 5rem;
}

#header-text {
    font-size: 2rem;
}

@media (max-width: 750px) {
    .header-split-container {
        flex-direction: column;
        align-items: center;
    }

    #header-main {
        font-size: 4rem;
    }
    
    #header-text {
        font-size: 1.2rem;
    }
}