<nav aria-label="navigation" class="nav-centered">
    <a id="nav-logo-img" class="nav-logo-centered" href="/"><img src="assets/img/nav-logo.svg" alt=""></a>
    <button aria-expanded="false" class="nav-mobile-toggle"><span class="sr-only">Menu</span></button>
    <ul data-visible="false" class="nav-items-centered nav-mobile-items nav-mobile-menu-dark">
        {% set navPages = collections.all | eleventyNavigation %}
        {% for item in navPages %}
            <li>
                <a class="nav-link {% if item.url == page.url %} nav-link-active {% endif %}" href="{{ item.url }}">{{ item.key }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>

<!-- Works best with an even number of links -->