<nav aria-label="navigation" class="nav-spaced">
    <div class="nav-items-left">
        <a id="nav-logo-img" href="/"><img src="/assets/img/icons/nav-logo.svg" alt=""></a>
        <h3 id="nav-site-name">SiteName</h3>
    </div>
    <button aria-expanded="false" class="nav-mobile-toggle"><span class="sr-only">Menu</span></button>
    <ul data-visible="false" class="nav-items-right nav-mobile-items nav-mobile-menu-dark">
        {% set navPages = collections.all | eleventyNavigation %}
        {% for item in navPages %}
            <li>
                <a class="nav-link nav-link-light {% if item.url == page.url %} nav-link-active {% endif %}" href="{{ item.url }}">{{ item.key }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>