<section class="section">
    <div class="section-text">
        <h2 class="section-text-title">Lorem ipsum dolor sit amet consectetur</h2>
        <p class="section-text-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis reiciendis ea fugit explicabo inventore mollitia expedita nam amet, eum sequi fuga accusantium eveniet libero reprehenderit dignissimos modi. Aut, sapiente nisi!</p>
        <p class="section-text-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur fugit saepe, excepturi magnam sit ad! Dolorem tenetur veritatis eum suscipit est earum, magni libero, at veniam cumque expedita vero eius.</p>
        <p class="section-text-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, vitae accusantium at repellat sapiente esse inventore officia harum ipsam adipisci animi, ab minima cupiditate doloribus tempore, molestias reiciendis deserunt provident!</p>
        <p class="section-text-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, explicabo! Optio, soluta odit consequuntur aspernatur ut quas praesentium, laudantium magni sed, excepturi necessitatibus quia rem amet delectus. Nemo, ipsum saepe.</p>
    </div>
    <div class="section-img">
        <img id="section-img-lg" src="assets/img/placeholder.webp" alt="">
    </div>
</section>