.contact-container {
    margin: 40px 100px;
    display: flex;
    justify-content: space-between;
    background-color: var(--accent);
}

.contact-info, .contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px;
}

.contact-info {
    background-color: var(--secondary);
    color: var(--text-light);
}

.contact-info-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.contact-title {
    margin-bottom: 20px;
}

.contact-form-item {
    margin-bottom: 20px;
}

.contact-form-fields {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--secondary);
}

.contact-form-button {
    padding: 10px;
    width: 50%;
    margin: 20px auto 0 auto;
    display: block;
}

@media (max-width: 960px) {
    .contact-container {
        margin: 40px;
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 40px;
    }

    .contact-info, .contact-form, .contact-form-button {
        width: 100%;
    }
}