.page-header {
    margin: 0 100px 40px 100px;
}

.page-header-title {
    margin-bottom: 40px;
}

@media (max-width: 960px) {
    .page-header {
        margin: 20px 40px;
    }

    .page-header-title {
        margin-bottom: 25px;
    }
}